.deps
*.la
.libs
*.lo

#latex stuff
dumux-handbook.aux
dumux-handbook.bbl
dumux-handbook.blg
dumux-handbook.idx
dumux-handbook.log
dumux-handbook.out
dumux-handbook.pdf
dumux-handbook.toc

config.*
!config.h.*
dune-mux.pc
dependencies.m4
aclocal.m4
am
autom4*
configure
stamp-h1
depcomp
install-sh
ltmain.sh
missing
Makefile
ltmain*
libtool
myStupidTest
CMakeFiles
cmake_install*
CMakeCache*
defaults
*.in
*~
*.o
#*#
