Dennis Gläser <dennis.glaeser@iws.uni-stuttgart.de>
Dennis Gläser <glaeser@hal.iws.uni-stuttgart.de>
Christoph Grüninger <foss@grueninger.de>
Christoph Grüninger <christoph.grueninger@iws.uni-stuttgart.de>
Christoph Grüninger <gruenich@dune-project.org>
Andrea Vescovini <vescovini.andrea@gmail.com>
Andrea Vescovini <andrea.vescovini@mail.polimi.it>
Kilian Weishaupt <kilian.weishaupt@iws.uni-stuttgart.de>
Ivan Buntic <st116086@stud.uni-stuttgart.de>
Ivan Buntic <ivan@ly2.fritz.box>
Shirin Moradi <s.moradi@fz-juelich.de>
Shirin Moradi <moradi@darth.iws.uni-stuttgart.de>
Simon Emmert <simon.emmert@iws.uni-stuttgart.de>
Simon Emmert <simon.scholz@iws.uni-stuttgart.de>
Simon Emmert <scholz.simon@web.de>
Sina Ackermann <Sina.Ackermann@gmx.de>
Sina Ackermann <sina.ackermann@iws.uni-stuttgart.de>
Theresa Kurz <tkurz@kiddo.iws.uni-stuttgart.de>
Theresa Kurz <theresa.kurz@iws.uni-stuttgart.de>
Beatrix Becker <beatrix.becker@iws.uni-stuttgart.de>
Farid Mohammadi <farid.mohammadi@iws.uni-stuttgart.de>
Gabriele Seitz <gabriele.seitz@iws.uni-stuttgart.de>
vishal jambhekar <vishal.jambhekar@iws.uni-stuttgart.de>
Leopold Stadler <Leopold.Stadler@baw.de>
Leopold Stadler <leopold.stadler@baw.de>
Melanie Lipp <melanie.lipp@iws.uni-stuttgart.de>
Melanie Lipp <melaniel@darth.iws.uni-stuttgart.de>
Johannes Hommel <johannes.hommel@iws.uni-stuttgart.de>
