# This file maps users that have used several mail adresses and user names
# throughout their contribution history to a unique name-email pair.
#
# In each line, the second argument (email or name-email pair) is mapped to the
# first argument (name-email pair). For example, to unify contributions by the
# user "Albert Einstein", who commited with the following name-email pairs:
#
# Albert Einstein <albert.einstein@genius.com>
# Albert <albert@smartguys.de>
#
# you would have to write:
# Albert Einstein <albert.einstein@genius.com> Albert <albert@smartguys.de>

Ahmad Bilal <ahmadbilal@outlook.de> Bilal <ahmadbilal@outlook.de>

Andrea Vescovini <vescovini.andrea@gmail.com> <andrea.vescovini@mail.polimi.it>
Andrea Vescovini <vescovini.andrea@gmail.com> Andrea <vescovini.andrea@gmail.com>

Beatrix Becker <beatrix.becker@iws.uni-stuttgart.de>

Christoph Grüninger <foss@grueninger.de> <christoph.grueninger@iws.uni-stuttgart.de>
Christoph Grüninger <foss@grueninger.de> <gruenich@dune-project.org>
Christoph Grüninger <foss@grueninger.de> Christoph Grueninger <foss@grueninger.de>

David Werner <david.werner@iws.uni-stuttgart.de> <david.werner@posteo.de>
David Werner <david.werner@iws.uni-stuttgart.de> Administrator <david.werner@iws.uni-stuttgart.de>

Dennis Gläser <dennis.glaeser@iws.uni-stuttgart.de> <glaeser@hal.iws.uni-stuttgart.de>
Dennis Gläser <dennis.glaeser@iws.uni-stuttgart.de> Dennis Glaeser <dennis.glaeser@iws.uni-stuttgart.de>
Dennis Gläser <dennis.glaeser@iws.uni-stuttgart.de> Dennis.Glaeser <dennis.glaeser@iws.uni-stuttgart.de>
Dennis Gläser <dennis.glaeser@iws.uni-stuttgart.de> DennisGlaeser <dennis.glaeser@iws.uni-stuttgart.de>

Edward 'Ned' Coltman <edward.coltman@iws.uni-stuttgart.de> <nedc@flip.iws.uni-stuttgart.de>
Edward 'Ned' Coltman <edward.coltman@iws.uni-stuttgart.de> <nedc@wilde02.iws.uni-stuttgart.de>
Edward 'Ned' Coltman <edward.coltman@iws.uni-stuttgart.de> <nedc@wilde05.iws.uni-stuttgart.de>
Edward 'Ned' Coltman <edward.coltman@iws.uni-stuttgart.de> Ind.Study bei Johannes bis 102016 <nedc@fira.iws.uni-stuttgart.de>
Edward 'Ned' Coltman <edward.coltman@iws.uni-stuttgart.de> Ned Coltman <edward.coltman@iws.uni-stuttgart.de>

Farid Mohammadi <farid.mohammadi@iws.uni-stuttgart.de>

Felix Weinhardt <felix.weinhardt@iws.uni-stuttgart.de> <felix.weinhardt@gmx.de>
Felix Weinhardt <felix.weinhardt@iws.uni-stuttgart.de> <felixw@picard.iws.uni-stuttgart.de>

Gabi Seitz <gabriele.seitz@iws.uni-stuttgart.de> Gabriele Seitz <gabriele.seitz@iws.uni-stuttgart.de>
Gabi Seitz <gabriele.seitz@iws.uni-stuttgart.de> Gabriele Seitz <seitz@molly.site>
Gabi Seitz <gabriele.seitz@iws.uni-stuttgart.de> seitz <gabriele.seitz@iws.uni-stuttgart.de>

Ivan Buntic <st116086@stud.uni-stuttgart.de> <ivan@ly2.fritz.box>

Johannes Hommel <johannes.hommel@iws.uni-stuttgart.de>

Kai Wendel <kaiwendel90@googlemail.com> <uws84926@stud.uni-stuttgart.de>

Kata Kurgyis <kata.kurgyis@gmail.com> katakurgyis <kata.kurgyis@gmail.com>

Katharina Heck <katharina.heck@iws.uni-stuttgart.de> Katharina <katharina.heck@iws.uni-stuttgart.de>

Kilian Weishaupt <kilian.weishaupt@iws.uni-stuttgart.de>

Larissa DeVries <larissa.m.devries@gmail.com> larissa <larissa.m.devries@gmail.com>
Larissa DeVries <larissa.m.devries@gmail.com> larissa <larissa@git.iws.uni-stuttgart.de>

Leopold Stadler <Leopold.Stadler@baw.de> <leopold.stadler@baw.de>

Martin Utz <martin.utz@baw.de> Utz <utzm@w5pc123.all.baw.de>

Melanie Lipp <melanie.lipp@iws.uni-stuttgart.de> <melaniel@bagheera.iws.uni-stuttgart.de>
Melanie Lipp <melanie.lipp@iws.uni-stuttgart.de> <melaniel@darth.iws.uni-stuttgart.de>
Melanie Lipp <melanie.lipp@iws.uni-stuttgart.de> melaniel <melanie.lipp@iws.uni-stuttgart.de>

Natalie Schröder <natalie.schroeder@iws.uni-stuttgart.de> Natalie Schroeder <natalie.schroeder@iws.uni-stuttgart.de>
Natalie Schröder <natalie.schroeder@iws.uni-stuttgart.de> Natalie Schroeder <natalies.schroeder@iws.uni-stuttgart.de>
Natalie Schröder <natalie.schroeder@iws.uni-stuttgart.de> natalies <natalies@iws.uni-stuttgart.de>

Roman Winter <roman.winter@iws.uni-stuttgart.de> <rwinter@emma.iws.uni-stuttgart.de>
Roman Winter <roman.winter@iws.uni-stuttgart.de> <rwinter@shrek.iws.uni-stuttgart.de>
Roman Winter <roman.winter@iws.uni-stuttgart.de> <rwinter@wilde05.iws.uni-stuttgart.de>

Samuel Scherrer <samuel.scherrer@iws.uni-stuttgart.de> <samuel.scherrer@posteo.de>

Shirin Moradi <s.moradi@fz-juelich.de> <moradi@darth.iws.uni-stuttgart.de>

Simon Emmert <simon.emmert@iws.uni-stuttgart.de> <scholz.simon@web.de>
Simon Emmert <simon.emmert@iws.uni-stuttgart.de> <simon.scholz@iws.uni-stuttgart.de>

Sina Ackermann <Sina.Ackermann@gmx.de> <sina.ackermann@iws.uni-stuttgart.de>

Theresa Kurz <theresa.kurz@iws.uni-stuttgart.de> <tkurz@kiddo.iws.uni-stuttgart.de>
Theresa Kurz <theresa.kurz@iws.uni-stuttgart.de> tkurz <theresa.kurz@iws.uni-stuttgart.de>

Vishal Jambhekar <vishal.jambhekar@iws.uni-stuttgart.de>

Timo Koch <timokoch@uio.no> <timo.koch@iws.uni-stuttgart.de>
