default:
  image: $$IMAGE

stages:
${stages}

workflow:
  rules:
    - if: $$CI_PIPELINE_SOURCE=="parent_pipeline"

${test_select_job}

build dumux:
  stage: build
  script:
${build_script}
  artifacts:
    paths:
      - build-cmake
    expire_in: 3 hours
${build_needs}

test dumux:
  stage: test
  script:
${test_script}
  needs:
    - job: build dumux
      artifacts: true
  artifacts:
    reports:
      junit: junit/dumux-cmake.xml
